.page-header-fixed .page-container {
     margin-top: 0 !important;
}
.page-content{
    margin-left: 0 !important;
}

.register .nav-tabs>li{
    width: 50%;
}
.error {
    color: red;
}

.loging-login .alert{
    max-height: 30px;
    padding : 8px;
}